@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,input{
    font-family: 'Poppins', sans-serif;
}
.container{
    position: absolute;
    width: 100%;
    background: #fff;
    min-height: 100vh;
    overflow: hidden;
}
.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}
.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color:#acacac;
    font-size: 1.5rem;
}
.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}
.input-field input:placeholder-shown{
    color: #aaa;
    font-weight: 500;
}
.btn-solid{
    width: 100px;
    height: 49px;
    border: none;
    border-radius: 48px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
}
.btn-solid:hover{
    background-color: burlywood;
    width: 150px;
}
.social-text{
    padding: 0.7rem 0;
}
.social-media{
    text-decoration: none;
}
.social-media a{
    display:flex;
    justify-content: center;
    outline: none;
}
.social-icon i{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin:  0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 0.5s;
    outline: none;
}
.social-icon{
    outline: none;
}
.social-icon i:hover{
    color: burlywood;
    border-color: burlywood;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
